body {
    background: gray !important;
}

.webcam {
    text-align: center;
    width: 100%;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}


.canvas {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    width: 666px;
    height: 480px;
}
.App {
    text-align: center;
}
.cameraBtn {
    margin-top: 350px;
    margin-bottom: 60px;
}

.cameraBtn:hover{
    opacity: .9;
}
.imageScreen {
    width: 200px;
    height: 150px;
    margin-top: 300px;
    margin-bottom: 100px;
    margin: auto;
    text-align: center;
}

.phoneCam{
    width: 350px;
    margin: auto;
    position: relative;
}

.phone{
    width: 350px;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
}