body {
    background: gray !important;
}

.webcam {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0px;
    text-align: center;
    z-index: 10;
    width: 666px;
    height: 480px;
}


.canvas {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    width: 666px;
    height: 480px;
}
.App {
    text-align: center;
}
.cameraBtn {
    margin-top: 500px;
    margin-bottom: 60px;
}
.imageScreen {
    width: 200px;
    height: 150px;
    margin-top: 300px;
    margin-bottom: 100px;
    margin: auto;
    text-align: center;
}